---
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import BlogPost from '../components/BlogPost.astro'
import '../styles/global.css'

const allPosts = await Astro.glob('./posts/*.md')

---
<html lang="zh">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>blog</title>

  </head>
    <body>
        <Header></Header>
      
        <h1>我的 Astro 网站</h1>
        <h1>我的 Astro 学习博客</h1>
        <ul>
          {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
        <p>在这里，我将分享我的学习 Astro 之旅。</p>
        <Footer></Footer>
      </body>
      
</html>
<script>
  import '../scripts/menu'
</script>

